<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style type="text/css">
        div.game {
            width: 250px;
            height: 250px;
            float: left;
            text-align: center;
        }
        div.game img {
            margin: 15px auto 0px;
            max-width: 95%;
            max-height: 150px;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="">
        Try it: {{ form.autocomp }}
    </form>

    <div id="results"></div>

    <script>
    $(function() {
        $('#autocomplete').keyup(function () {
            $('#results').empty();

            if ($('#autocomplete').length && $('#autocomplete')[0].value.length >= 2){

                $.ajax({
                    url: '{{ url_for("autocomplete") }}',
                    type: 'GET',
                    data: {
                        'word': $('#autocomplete')[0].value
                    },
                }).done(function (data) {
                    $('#results').empty();
                    var games = data.json_list;

                    for (var i = 0; i < games.length; i++) {
                        console.log(games);
                        $('#results').append(
                            '<div class="game"><img src="'+ games[i].image + '"><br><span>' + games[i].title + '</span><br><span><a href="https://www.giantbomb.com' + games[i].url + '" target="_blank">Read more</a></span></div>'
                        );
                    }
                });
            }
        })
    });
    </script>

</body>
</html>